<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&family=Questrial&display=swap"rel="stylesheet"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OUR TEAM</title>
    <link rel="stylesheet" href="static\css\group.css" />
  </head>
  <body>
    <div class="background" id="background"></div>
    <div class="bg-white rounded p-10 text-center shadow-md">

		<h1 class="text-3xl">OUR TEAM</h1>
		<p class="text-sm text-gray-700">
		welcome in our project
		</p>
		<div class="my-4 text-left">
			      <li>Neha kushwaha (21MEI10046)</li>
            <li>Ajay vishwakarma (21MEI10049)</li>
            <li>Manjari sharma (21MEI10050)</li>
            <li>Abeer bajpai(21MEI10025)</li>
            <li>Khan mohamad Areeb (21MEI10055)</li>
		</div>
		
  	</div>

    
  </body>
</html>